.btn-container {
    border-radius: 10px;
}

.btn {
    padding: 0;
}

.btn-primary {
    width: 100%;
    height: 50px;
}

.btn-primary > h6 {
    color: black;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -0.015em;
    text-align: center;
    mix-blend-mode: normal;
    position: relative;
    top: 4px;
    text-transform: uppercase;
}